<!--Author Kjærsti L. Bergli, email: klb022@uit.no - for most of the page--->
{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    <h1>Kontakt oss!</h1>
    <h2>Adresse:</h2> 
    <p>Skogligata 23<br>
    9004 Tromsø
    </p>
    
    <h2>Åpningstider:</h2>    
    <p>
        <ul>
            <li>Mandag til fredag: 09-18</li>
            <li>Lørdager: 10-17</li>
            <li>Søndag: stengt</li>
        </ul>
    </p>    
    <h2>Telefon/epost:</h2>
    <p>
        <ul>
            <li>Tlf: 12345678</li>
            <li>Epost: kontakt@betakroll.no</li>
        </ul>
    </p>    
</div>
{% endblock %}