<!-- Author Kjærsti L. Bergli, email: klb022@uit.no -->

{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Vennligst legg inn (og bekreft) ditt nye passord.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nytt passord:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bekreft nytt passord:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Endring av passord virket ikke.</h1>
        <p>Lenken til endring av passord virket ikke. Kanskje fordi lenken allerede er brukt. Vennligst be om å resette passordet på nytt.</p>
    {% endif %}
{% endblock %}