<!-- Author Kjærsti L. Bergli, email: klb022@uit.no -->

<!-- Used with the built in loginfunctionality. Keeping the file for future work to implement with new custom user model. -->

{% extends "base_generic.html" %}

{% block content %}
    <p>Skriv inn epostadressen din for å motta en epost der du kan resette passordet ditt.</p>
  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
{% endblock %}